@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;1,200&family=Maven+Pro&display=swap');



:root {
    --bleu1: #003A70;
    --bleu2: #0F558F;
    --bleu3: #1965A0;
    --bleu4: #2476B1;
    --bleu5: #2D82BD;
    --bleu6: #4893C6;
    --bleu7: #64A4CE;
    --bleu8: #8DBEDC;
    --bleu9: #B7D7EA;
    --bleu10: #E2EFF6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    z-index: 30;
    position: fixed;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

/*total*/

#total {
    height: auto;
}

/*************************** LIENS DU NAVIGATEUR */

.Titre_Sportify {
    z-index: 3;
    font-size: 40px;
    color: var(--bleu9);
    font-family: Moder;
}

.Wrapper_Liens {
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

#liens_Nav {
    z-index: 3;
    position: relative;
    text-decoration: none;
    color: var(--bleu8);
    transition: color 0.3s ease-in-out;
}

#liens_Nav:hover {
    color: var(--bleu10);
    cursor: pointer;
}

#liens_Nav::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: var(--bleu10);
    transition: width 0.3s ease-in-out;
}

#liens_Nav:hover::after {
    width: 100%;
}

.Progression {
    background-color: #839c49;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
}

/*************************** CONSTRUCTION PAGE */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
}

/*************************** IMAGE DE FOND */

#video-background {
    position: absolute;
    width: 100vw;
    height: auto;
}

.Back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.calque {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 150vh;
}

/************Titre*/

.Libere {
    color: var(--bleu7);
    font-size: 60px;
}

#titre {
    margin-bottom: 30px;
    margin-left: 140px;
}

#form{
    margin-top: 40px;
}

#nom_client{
    overflow: hidden;
    width: 300px;
    height: 40px;
    background-color: var(--bleu8);
    border: 2px solid var(--bleu4);
    border-radius: 10px;
    color: var(--bleu1);
    font-size: 20px;
}

#valider{
    margin-left: 20px;
    overflow: hidden;
    width: 110px;
    height: 40px;
    background-color: var(--bleu1);
    border: 2px solid var(--bleu2);
    border-radius: 10px;
    color: var(--bleu10);
    font-size: 20px;
}