@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;1,200&family=Maven+Pro&display=swap');

:root {
  --bleu1: #003A70;
  --bleu2: #0F558F;
  --bleu3: #1965A0;
  --bleu4: #2476B1;
  --bleu5: #2D82BD;
  --bleu6: #4893C6;
  --bleu7: #64A4CE;
  --bleu8: #8DBEDC;
  --bleu9: #B7D7EA;
  --bleu10: #E2EFF6;
  --bleu11 : rgba(0,23,55, 0.7);
}

*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  height: auto;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bleu1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  z-index: 30;
  position: fixed;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(40, 40, 40);
}

/*************************** LIENS DU NAVIGATEUR */

.Titre_Sportify {
  z-index: 3;
  font-size: 40px;
  color: var(--bleu9);
  font-family: Moder;
}

.Wrapper_Liens {
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
}

#liens_Nav {
  z-index: 3;
  position: relative;
  text-decoration: none;
  color: var(--bleu8);
  transition: color 0.3s ease-in-out;
}

#liens_Nav:hover {
  color: var(--bleu10);
  cursor: pointer;
}

#liens_Nav::after {
  content: " ";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: var(--bleu10);
  transition: width 0.3s ease-in-out;
}

#liens_Nav:hover::after {
  width: 100%;
}

.Progression {
  background-color: #839c49;
  height: 3px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
}

/************************ CONTENU PAGE */

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzZjYTUzZDZkYzE0N2NhZTUzNWYzNTA0YzdiMTRhNDAyNGVkZGFlNiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/b0rbhb1ZU9BhC4tiyb/giphy.gif");
  background-size: cover;
  font-family: 'Libre Franklin', sans-serif;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--bleu11);
  box-sizing: border-box;
  /*box-shadow: 0 15px 25px var(--bleu1);*/
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}


#login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--bleu11);
  box-sizing: border-box;
  /*box-shadow: 0 15px 25px var(--bleu1);*/
  border-radius: 10px;
}



#login-box .user-box {
  position: relative;
}

#login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #bdb8b8;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #e32f2f;
  outline: none;
  background: transparent;
}

#login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #e32f2f;
  pointer-events: none;
  transition: .3s;
}

/*focus : quand on clique sur l input (voir tp cours)
    valid : sélectionner un élément lorsque la valeur de l input correspond 
    au type. */
#login-box .user-box input:focus~label,
#login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #e32f2f;
  font-size: 12px;
}

form .envoyer {
  font-family: 'Libre Franklin', sans-serif;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
  transition: .3s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: none;
}

.envoyer:hover {
  background: var(--bleu7);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--bleu7),
    0 0 25px var(--bleu7),
    0 0 50px var(--bleu7),
    0 0 100px var(--bleu7);
}


.creerCompte {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.text_creerCompte {
  padding: 5px;
  text-align: center;
}

.contour_envoyer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: larger;
  color: #f46363;
}

  .text_creerCompte{
    width: 100%;
    height: 100%;
    color : white;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    transition: .3s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
  }

  

.text_creerCompte:hover {
  background: var(--bleu3);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--bleu3),
    0 0 25px var(--bleu3),
    0 0 50px var(--bleu3),
    0 0 100px var(--bleu3);
}