@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;1,200&family=Maven+Pro&display=swap');

:root{
    --bleu1: #003A70;
    --bleu2: #0F558F;
    --bleu3: #1965A0;
    --bleu4: #2476B1;
    --bleu5: #2D82BD;
    --bleu6: #4893C6;
    --bleu7: #64A4CE;
    --bleu8: #8DBEDC;
    --bleu9: #B7D7EA;
    --bleu10: #E2EFF6;
    --bleu11 : rgba(0,23,55, 0.7);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    caret-color: transparent;
}

body{
    height: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    z-index: 30;
    position: fixed;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

/*************************** LIENS DU NAVIGATEUR */

.Titre_Sportify{
    z-index: 3;
    font-size: 40px;
    color: var(--bleu9);
    font-family: Moder;
}

.Wrapper_Liens{
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

#liens_Nav {
    z-index: 3;
    position: relative;
    text-decoration: none;
    color: var(--bleu8);
    transition: color 0.3s ease-in-out;
}

#liens_Nav:hover{
    color: var(--bleu10);
    cursor: pointer;
}

#liens_Nav::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: var(--bleu10);
    transition: width 0.3s ease-in-out;
}

#liens_Nav:hover::after {
    width: 100%;
}

/************************** CONTENU PAGE */

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzZjYTUzZDZkYzE0N2NhZTUzNWYzNTA0YzdiMTRhNDAyNGVkZGFlNiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/b0rbhb1ZU9BhC4tiyb/giphy.gif");
    background-size: cover;
    font-family: 'Libre Franklin', sans-serif;
  }

.login-box {
    flex-direction: column;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 850px;
    padding: 40px;
    transform: translate(-50%, -50%);
    color : white;
    background: var(--bleu11);
    box-sizing: border-box;
    border-radius: 10px;
  }

  .form_group{
    display: flex;
    width: 100%;
  }

  .user-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  
.user-box input {
    font-family: 'Libre Franklin', sans-serif;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

#nom_prenom_tel input {
    width: 70%;
  }

#mail_mdp_mdpconf input, #mail_mdp_mdpconf_error input {
    width: 80%;
  }

#mail_mdp_mdpconf_error label{
    color : red
}

.message_error{
    color : red;
}

#mail_mdp_mdpconf_error .user-box input {
    font-family: 'Libre Franklin', sans-serif;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #ff0000;
    outline: none;
    background: transparent;
  }

#adress input {
    width: 80%;
  }


  .login-box .user-box label {
    position: absolute;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transform: translate(-2%, -60%);
    color: #bdb8b8;
    font-size: 12px;
    transition: .3s;
  }

  .login-box .user-box:focus-within label{
    color: #fff;
    font-size: 14px;
  }

  .user-box span{
    position: absolute;
    transform: translate(0, 330%);
    font-size: x-small;
    color: red;
    display: none;
  }

  .valider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  form .envoyer,   form .envoyer_red {
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    transition: .3s;
    letter-spacing: 4px;
    border: none;
  }

  .envoyer_red:hover{
    background: rgb(155, 0, 0);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(155, 0, 0),
      0 0 25px rgb(155, 0, 0),
      0 0 50px rgb(155, 0, 0),
      0 0 100px rgb(155, 0, 0);
  }

  .deja_compte:hover, .envoyer:hover {
    background: var(--bleu7);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--bleu7),
      0 0 25px var(--bleu7),
      0 0 50px var(--bleu7),
      0 0 100px var(--bleu7);
  }

  .input-error {
    display: block!important;
    color: red;
  }

  .deja_compte{
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    transition: .3s;
    letter-spacing: 4px;
    border: none;
  }
  .remplir{
    background-color: #B7D7EA;
    width: 10px;
    height: 50px;
  }
