:root{
    --bleu1: #003A70;
    --bleu2: #0F558F;
    --bleu3: #1965A0;
    --bleu4: #2476B1;
    --bleu5: #2D82BD;
    --bleu6: #4893C6;
    --bleu7: #64A4CE;
    --bleu8: #8DBEDC;
    --bleu9: #B7D7EA;
    --bleu10: #E2EFF6;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    height: auto;
    width: 100vw;
    background-color: #0f0f0f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    z-index: 30;
    position: fixed;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

/********* LIENS DU NAVIGATEUR */

.Titre_Sportify{
    z-index: 3;
    font-size: 40px;
    color: var(--bleu9);
    font-family: Moder;
}

.Wrapper_Liens{
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

#liens_Nav {
    z-index: 3;
    position: relative;
    text-decoration: none;
    color: var(--bleu8);
    transition: color 0.3s ease-in-out;
}

#liens_Nav:hover{
    color: var(--bleu10);
    cursor: pointer;
}

#liens_Nav::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: var(--bleu10);
    transition: width 0.3s ease-in-out;
}

#liens_Nav:hover::after {
    width: 100%;
}

/* **** Div Centrale */

.Wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Recherche{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    height: 30vh;
    z-index: 40;
}

#Input_Recherche, #send{
    overflow: hidden;
    width: 45vw;
    height: 15vh;
    text-align: center;
    font-size: 60px;
    border-radius: 200px;
    background-color: var(--bleu8);
    border: solid 10px var(--bleu5);
}

#send{
    width: 15vh;
    height: 15vh;
}