@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;1,200&family=Maven+Pro&display=swap');



:root {
    --bleu1: #003A70;
    --bleu2: #0F558F;
    --bleu3: #1965A0;
    --bleu4: #2476B1;
    --bleu5: #2D82BD;
    --bleu6: #4893C6;
    --bleu7: #64A4CE;
    --bleu8: #8DBEDC;
    --bleu9: #B7D7EA;
    --bleu10: #E2EFF6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    z-index: 30;
    position: fixed;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

/*total*/

#total {
    height: auto;
}

/*************************** LIENS DU NAVIGATEUR */

.Titre_Sportify {
    z-index: 3;
    font-size: 40px;
    color: var(--bleu9);
    font-family: Moder;
}

.Wrapper_Liens {
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

#liens_Nav {
    z-index: 3;
    position: relative;
    text-decoration: none;
    color: var(--bleu8);
    transition: color 0.3s ease-in-out;
}

#liens_Nav:hover {
    color: var(--bleu10);
    cursor: pointer;
}

#liens_Nav::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: var(--bleu10);
    transition: width 0.3s ease-in-out;
}

#liens_Nav:hover::after {
    width: 100%;
}

.Progression {
    background-color: #839c49;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
}

/*************************** CONSTRUCTION PAGE */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
}

/*************************** IMAGE DE FOND */

#video-background {
    position: absolute;
    width: 100vw;
    height: auto;
}

.Back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.calque {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 150vh;
}

/*********Contenu*/


#Div_salle {
    display: flex;
    z-index: 10;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Libere {
    color: var(--bleu7);
    font-size: 85px;
}

.Carroussel_salles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 60px;
}

#Monaco,
#Paris,
#St_tropez {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 30vw;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
    background: rgba(142, 142, 142, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(141, 190, 220, 0.31);
}

.ville {
    font-size: 35px;
    color: var(--bleu7);
}

#id_ville {
    text-align: center;
    margin-bottom: 20px;
}

.coord {
    font-size: 17px;
    color: var(--bleu10);
}

#coord {
    margin-bottom: 6px;
}

/*bouton*/

#bouton_affichage {
    width: 700px;
    height: 60px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    z-index: 5;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px var(--bleu2);
    background: var(--bleu4);
    color: var(--bleu10);
}

.texte_bouton {
    font-size: 35px;
    color: var(--bleu10);
}

/*info*/

#info {
    position: relative;
    margin-top: 60px;
    margin-left: 30px;
    justify-content: baseline;
    z-index: 10;
    height: auto;
}

#info p {
    color: var(--bleu10);
}

#horaire,
#Personnels,
#Regles,
#Nouveaux {
    margin-bottom: 10px;
}

#div_titre_info {
    margin-bottom: 5px;
}

/*horaires*/

#texte_id {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 20px;
}

.texte {
    color: var(--bleu10);
}

.horaire_24 {
    font-size: larger;
}

#Carroussel_horaire {
    display: flex;
    flex-direction: column;
    width: 90vw;
    display: flex;
    height: 120px;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


/*Personnels*/

#Carroussel_equipe {
    display: flex;
    flex-direction: column;
    width: 90vw;
    display: flex;
    height: 180px;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.texte_equipe {
    color: var(--bleu7);
}

.lien_parcourir {
    color: var(--bleu10);
}

/*Regle*/

#Entre ul {
    margin-left: 40px;
}

#Materiel ul {
    margin-right: 40px;
}

#Regles li {
    color: var(--bleu10);
    margin-bottom: 10px;
}

.titre_info {
    font-size: 40px;
    color: var(--bleu7);
}

#Carroussel_regles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
}

#Entre,
#Materiel {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    height: 35vh;
    width: 80vw;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    background: rgba(142, 142, 142, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(141, 190, 220, 0.31);
}

.texte_regle {
    color: var(--bleu7);
}

/*Nouv clients*/

#Nouveaux {
    height: 900px;
}

#Carroussel_faq {
    display: flex;
    width: 90vw;
    height: 860px;
}

#separation {
    width: 2px;
    height: 700px;
    background-color: var(--bleu9);
    border-radius: 50%;
    margin: 5vh auto;
}

#gauche_faq,
#droite_faq {
    display: flex;
    height: 800px;
    width: 80vw;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#Nouveaux li {
    list-style: none;
    /*Pour pas afficherles points de la liste*/
}

.quest_faq {
    font-size: 25px;
    color: var(--bleu9);
}

#quest_faq {
    margin-bottom: 15px;
}

.rep_faq {
    color: var(--bleu10);
    font-size: 15px;
}

#rep_faq {
    margin-bottom: 25px;
}

.quest_equipe {
    color: var(--bleu8);
    font-size: 30px;
}

#quest_equipe {
    margin-top: 10px;
}

/*Alimentation*/

#Carroussel_alimentation {
    display: flex;
    flex-direction: column;
    width: 90vw;
    display: flex;
    height: auto;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#conseil_id {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.conseil_id {
    color: #003A70;
}

#Carroussel_conseil {
    display: flex;
    flex-direction: column;
    width: 1100px;
    display: flex;
    height: auto;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-left: 100px;
}

.Carroussel_conseil li {
    color: var(--bleu10);
}

#Carroussel_conseil li {
    margin-bottom: 10px;
}

/************* FOOTER  */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 70px;
    color: var(--bleu7);
}

footer p,
footer li {
    color: var(--bleu9);
    font-size: 20px;
}

.Container_Footer {
    margin-top: 20px;
    display: flex;
    width: 90vw;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

.Wrapper_Txt_Footer ul {
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    margin-bottom: 30px;
}

.Maps {
    width: auto;
    height: auto;
}

.Image_Maps {
    border-radius: 30px;
    width: 30vw;
    height: 40vh;
}

.Liens_Réseaux {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.Liens_Réseaux i {
    color: var(--bleu10);
    font-size: 30px;
    transition: color 0.3s ease-in-out, scale 0.4s;
}

#insta:hover {
    color: #c32aa3;
    scale: 1.3;
}

#twitter:hover {
    color: #1DA1F2;
    scale: 1.3;
}

#youtube:hover {
    color: #FF0000;
    scale: 1.3;
}

#twitch:hover {
    color: #6441a4;
    scale: 1.3;
}

#facebook:hover {
    color: #3b5998;
    scale: 1.3;
}

/*Detente restauration*/

#resto_detente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
}

#div_titre_info p {
    color: var(--bleu9);
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
}

.sous_titre_detente{
    color: var(--bleu7);
}

#SPA,
#resto {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    height: 35vh;
    width: 80vw;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    background: rgba(142, 142, 142, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(141, 190, 220, 0.31);
}

#texte_detente p{
    font-size: 30px;
    margin-bottom: 40px;
}

.texte_detente p{    
    color: var(--bleu7);
}