@font-face {
    font-family: 'Modern Age';
    src: url('/modern_age/Modern\ Age.ttf')format(truetype),
        url('modern_age/Modern\ Age.otf');
}

:root{
    --bleu1: rgb(0, 58, 112);
    --bleu2: #0F558F;
    --bleu3: #1965A0;
    --bleu4: #2476B1;
    --bleu5: #2D82BD;
    --bleu6: #4893C6;
    --bleu7: rgb(100, 164, 206);
    --bleu8: #8DBEDC;
    --bleu9: #B7D7EA;
    --bleu10: #E2EFF6;
}

#Animation_Debut{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    opacity: 1;
    transition: all 1.2s;
}

svg{
    width: 80vw;
    height: auto;
}

.monChemin{
    fill: none;
    stroke: var(--bleu7);
    stroke-width:4;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* html{
} */

body{
    height: auto;
    width: 100vw;
    background-color: #0f0f0f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    overflow-x: hidden;
}

header{
    top:0;
    z-index: 30;
    position: fixed;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 40, 40);
    opacity: 0;
    transition: all 0.5s;
}

/*************************** LIENS DU NAVIGATEUR */

.Titre_Sportify{
    z-index: 3;
    font-size: 40px;
    color: var(--bleu9);
    font-family: Moder;
}

.Wrapper_Liens{
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

#liens_Nav {
    z-index: 3;
    position: relative;
    text-decoration: none;
    color: var(--bleu8);
    transition: color 0.3s ease-in-out;
}

#liens_Nav:hover{
    color: var(--bleu10);
    cursor: pointer;
}

#liens_Nav::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: var(--bleu10);
    transition: width 0.3s ease-in-out;
}

#liens_Nav:hover::after {
    width: 100%;
}

/*************************** IMAGE DE FOND */

.Back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.calque{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
}

/*************************** TEXTE D'ACCROCHE */

#Div_Menu_Accueil{
    display: flex;
    z-index: 10;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Phrase_Accroche, #Phrase_Accroche_Part2{
    font-size: 60px;
    color: var(--bleu10);
}

#Phrase_Accroche_Part3{
    margin-top: 20px;
    font-size: 16px;
    color: var(--bleu10);
}

#Phrase_Accroche_Part2{
    text-align: center;
}

.Libere{
    color: var(--bleu7);
    font-size: 85px;
}

#Button_Phrase_Accroche{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

#btn_Phrase_Accroche1{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 5;
    opacity: 0;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px var(--bleu2); 
    background: var(--bleu4);
    color: var(--bleu10);
    font-size: 15px;
    transition: opacity 2s;
}

/******************* A PROPOS */

#Div_Menu_A_Propos{
    z-index: 8;
    height: 115vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
}

#Txt_A_Propos{
    padding: 20px;
    z-index: 7;
    font-size: 20px;
    height: auto;
    width: 45vw;
    color: var(--bleu10);
}

#Txt_A_Propos h1 span{
    color: var(--bleu7);
}

#Txt_A_Propos h1{
    margin-bottom: 7vh;
    font-size: 50px;
}

#PHOTO{
    width: 30vw;
    height: 50vw;
    background-color: blueviolet;
    translate: 700px 0;
    opacity: 0;
}

.dates{
    font-size: 30px;
    color: var(--bleu8);
}

/* *************** SEPARATION */

.Separation{
    width: 90vw;
    height: 3px;
    background-color: var(--bleu9);
    border-radius: 50%;
    margin: 5vh auto;
}

/* *************** OFFRES */

#Div_Menu_Offres{
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

#Div_Menu_Offres h1{
    font-size: 70px;
    color: var(--bleu8);
    margin-bottom: 20px;
}

.Carroussel_Offres{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
}

.Offres1{
    translate: -500px;
}

.Offres3{
    translate: 500px;
}

.Offres1{
    display: flex;
    opacity: 0;
    flex-direction: column;
    height: 60vh;
    width: 25vw;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(142, 142, 142, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(141, 190, 220, 0.31);
    transition: 0.5s ease-in-out;
}
.Offres2{
    display: flex;
    opacity: 0;
    flex-direction: column;
    height: 60vh;
    width: 25vw;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(142, 142, 142, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(100, 164, 206, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(141, 190, 220, 0.31);
    transition: 0.5s ease-in-out;
}

.Offres3{
    display: flex;
    opacity: 0;
    flex-direction: column;
    height: 60vh;
    width: 25vw;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 58, 112,0.45);
    border-radius: 16px;
    box-shadow: 0 0px 30px rgba(255,215,0,0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(141, 190, 220, 0.31);
    transition: 0.5s ease-in-out;
}

.Offres1:hover{
    background: rgba(142, 142, 142, 0.55);
    height: 61vh;
    width: 25.5vw;
}

.Offres2:hover{
    height: 61vh;
    background: rgba(142, 142, 142, 0.55);
    width: 25.5vw;
    box-shadow: 0 4px 30px rgba(100, 164, 206, 1);
}

.Offres3:hover{
    height: 61vh;
    width: 25.5vw;
    background: rgb(0, 58, 112,0.65);
    box-shadow: 0 0px 30px rgba(255,215,0,1);
}

.Offres3:hover button{
    background-color: rgb(168, 143, 0);
    box-shadow: 0 0px 30px rgba(255,215,0,0.8);
}

.spanspe{
    color: rgb(168, 143, 0);
    font-weight: bold;
}

.Offres1 p, .Offres2 p, .Offres3 p{
    font-size: 27px;
    margin-bottom: 4vh;
    color: var(--bleu8);
}

.Offres1 ul li{
    font-size: 18px;
    color: var(--bleu10);
}

.Offres2 ul li{
    font-size: 18px;
    color: var(--bleu10);
}

.Offres3 ul li{
    font-size: 18px;
    color: var(--bleu10);
}

.Offres1 ul, .Offres2 ul, .Offres3 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
    text-align: left;
    color: var(--bleu10);
}

.Offres1 button, .Offres2 button, .Offres3 button{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    transition: .3s ease-in-out;
}

.Offres1 button{
    border: solid 1px rgb(25, 25, 25);
    color: rgb(25, 25, 25);
    background-color: white;
}

.Offres2 button{
    border: solid 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: var(--bleu7);
}

.Offres3 button{
    border: solid 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: var(--bleu1);
}

.Carroussel_Offres .Offres1 li span, .Carroussel_Offres .Offres2 li span{
    color: var(--bleu6);
    font-weight: bold;
}

.Carroussel_Offres .Offres3 span{
    color: rgb(168, 143, 0);
    font-weight: bold;
}

/* ************** ACTUALITES */

#Div_Menu_Actualite{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    width: 100vw;
    height: 80vh;
    overflow: hidden;   /*? Cache ce qui depasse de la div */
}

#flecheG, #flecheD{
    font-size: 18px;
}

.Description_Actu{
    color: var(--bleu10);
    text-align: center;
}

.Container_Carrousel_Actu{
    margin-top: 35px;
    opacity: 0;
    padding: 2vw;
    display: flex;
    justify-content:start;
    align-items: center;
    height: 50vh;
    width: 70vw;
    overflow: hidden;
}

.Container_sliders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.Div_Actu{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 20vw;
    height: 45vh;
}

.imgActu{
    width: 20vw;
    height: auto;
    border-radius: 15px;
}

.Sliders_Actu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#Slide_Prev{
    translate: -500px 0;
}

#Slide_Next{
    translate: 500px 0;
}

.Wrapper_Elements_Actu{
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s;
}


/************* FOOTER  */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer h1{
    margin-top: 20px;
}

footer p, footer li{
    color: var(--bleu9);
    font-size: 20px;
}

.Container_Footer{
    margin-top: 20px;
    display: flex;
    width: 90vw;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

.Wrapper_Txt_Footer ul{
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    margin-bottom: 30px;
}

.Maps{
    width: auto;
    height: auto;
}

.Image_Maps{
    border-radius: 30px;
    width: 30vw;
    height: 50vh;
}

.Liens_Réseaux{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.Liens_Réseaux i{
    color: var(--bleu10);
    font-size: 30px;
    transition: color 0.3s ease-in-out, scale 0.4s;
}

span{
    font-weight: 500;
}

#insta:hover{
    color: #c32aa3;
    scale: 1.3;
}

#twitter:hover{
    color: #1DA1F2;
    scale: 1.3;
}

#youtube:hover{
    color: #FF0000;
    scale: 1.3;
}

#twitch:hover{
    color: #6441a4;
    scale: 1.3;
}

#facebook:hover{
    color: #3b5998;
    scale: 1.3;
}